<head><link rel="stylesheet" href="https:\/\/distrotube.com/css/style.css">
<title># Securing The Firefox Web Browser</title>
<pre>
     __ __       _______ _______ _______ ___ _______ ___     _______ _______ 
 .--|  |  |_    |   _   |   _   |       |   |   _   |   |   |   _   |   _   |
 |  _  |   _|   |.  1   |.  l   |.|   | |.  |.  1___|.  |   |.  1___|   1___|
 |_____|____|   |.  _   |.  _   `-|.  |-|.  |.  |___|.  |___|.  __)_|____   |
                |:  |   |:  |   | |:  | |:  |:  1   |:  1   |:  1   |:  1   |
                |::.|:. |::.|:. | |::.| |::.|::.. . |::.. . |::.. . |::.. . |
                `--- ---`--- ---&#39 `---&#39 `---`-------`-------`-------`-------&#39
                                                                             
</pre>
<br/>
<h1>Securing The Firefox Web Browser</h1>
By Derek Taylor at February 25, 2020<br/>
<br/>
Most Firefox users think the Mozilla web browser has a sufficient amount of security and privacy out of the box. Compared to the other mainstream alternatives (like Chrome and Edge), Firefox is certainly better for privacy and security.<br/>
<br/>
Why do people trust that Firefox more in terms of security and privacy than Google Chrome? The answer is simple–Firefox is free and open source software. Since the code is free available for anyone to inspect, researchers have audited Firefox many times over its history.<br/>
<br/>
In contrast, Google Chrome along with Apple&#39s Safari, Microsoft&#39s Internet Explorer and Edge are all proprietary software. No one can audit the code. The very nature of being proprietary prevents them from ever being as secure as open sourced Firefox. But that doesn&#39t mean that it can&#39t be made more secure.<br/>
<br/>
Of course, you can use a VPN service to browse the web, as that would solve all of your problems. But I&#39m going to ignore VPN&#39s and instead show you how to make Firefox a more secure and privacy-focused browser by enabling or disabling the proper settings and installing the proper plugins.  <br/>
<br/>
<h2>Tracking Protection</h2>
Let&#39s start by enabling tracking protection. Firefox can block trackers and maliciious scripts. There are three levels to tracking protection: Standard (the default), Strict and Custom. You can enable Strict protection but Firefox warns you that enabling this stronger setting may cause some websites to break.<br/>
<br/>
Whether you enable Strict protection or stay with the Standard protection, I strongly advise setting the “Do Not Track” feature to ALWAYS. When you enable this option, it will allow Firefox to request websites to not try and track the user. Of course, websites may or may not comply. But there is no harm in enabling “Do Not Track”.<br/>
<br/>
<ul>
<li>Go to Preferences</li>
<li>Privacy and Security</li>
<li>Enhanced Tracking Protection</li>
<li>Change from Standard to Strict, if you wish.</li>
<li>Scroll down to “Do Not Track” and set to ALWAYS!</li>
</ul>
 <br/>
<h2>Telemetry</h2>
Let&#39s disable the telemetry that is built into Firefox by default. This telemetry collects user information to improve the browser&#39s performance, but collecting user data is a privacy concern, so let&#39s turn it off.<br/>
<br/>
<ul>
<li>Go to Preferences</li>
<li>Privacy and Security</li>
<li>Scroll down to Firefox Data Collection and Use</li>
<li>Uncheck them all, if you wish.</li>
</ul>
<br/>
<h2>Change Your Search Engine</h2>
Firefox has switched its default search engine a couple of times in its history. A few years ago, Bing was the default. It is currently using Google as the default search engine, no doubt due to financial reasons. But neither Bing or Google are acceptable choices if privacy is a top pritority. Thankfully, Firefox offers DuckDuckGo as an option.<br/>
<br/>
<ul>
<li>Go to Preferences</li>
<li>Search</li>
<li>Default Search Engine</li>
<li>Change it to DuckDuckGo.</li>
</ul>
<br/>
<h2>Two Extensions You Need</h2>
Go to Extensions and search for uBlock Origin. uBlock is an adblocker and is lightweight and easy on CPU and memory. Then search for Privacy Badger and install it. Privacy Badger is an anti-tracking addon that was created by the EFF. By using this extension, you are helping the EFF in the fight for privacy and digital rights.<br/>
